@using Umbraco.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ModuleViewModel>
@{
    IPublishedContent content   = Model.Content;
    var className               = content.GetPropertyValue("className");
    var bgColor                 = content.HasValue("bgColor") ? "style=background:#" + content.GetPropertyValue("bgColor") : "";
    var fontColor               = content.HasValue("fontColor") ? "style=color:#" + content.GetPropertyValue("fontColor") : "";

    <div class="@className single-col-module" @bgColor>
        <div class="wrapper" @fontColor>
            @Html.Raw(content.GetPropertyValue("columnOneText").ToString())
        </div>
    </div>
}