<!DOCTYPE root[<!ELEMENT peoplePage ANY>
<!ATTLIST peoplePage id ID #REQUIRED>
<!ELEMENT Base ANY>
<!ATTLIST Base id ID #REQUIRED>
<!ELEMENT BasePage ANY>
<!ATTLIST BasePage id ID #REQUIRED>
<!ELEMENT CarouselItem ANY>
<!ATTLIST CarouselItem id ID #REQUIRED>
<!ELEMENT CarouselModule ANY>
<!ATTLIST CarouselModule id ID #REQUIRED>
<!ELEMENT CollapsibleListItem ANY>
<!ATTLIST CollapsibleListItem id ID #REQUIRED>
<!ELEMENT CollapsibleListModule ANY>
<!ATTLIST CollapsibleListModule id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT EmptyRowModule ANY>
<!ATTLIST EmptyRowModule id ID #REQUIRED>
<!ELEMENT FourColumnModule ANY>
<!ATTLIST FourColumnModule id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT QuickNavGroup ANY>
<!ATTLIST QuickNavGroup id ID #REQUIRED>
<!ELEMENT QuickNavItem ANY>
<!ATTLIST QuickNavItem id ID #REQUIRED>
<!ELEMENT QuickNavModule ANY>
<!ATTLIST QuickNavModule id ID #REQUIRED>
<!ELEMENT SingleColumnModule ANY>
<!ATTLIST SingleColumnModule id ID #REQUIRED>
<!ELEMENT SliderModule ANY>
<!ATTLIST SliderModule id ID #REQUIRED>
<!ELEMENT SliderModuleSlide ANY>
<!ATTLIST SliderModuleSlide id ID #REQUIRED>
<!ELEMENT ThreeColumnModule ANY>
<!ATTLIST ThreeColumnModule id ID #REQUIRED>
<!ELEMENT TwoColumnModule ANY>
<!ATTLIST TwoColumnModule id ID #REQUIRED>
<!ELEMENT peopleItem ANY>
<!ATTLIST peopleItem id ID #REQUIRED>
]>
<root id="-1">
  <HomePage id="1067" key="28e1681a-33e5-42e6-8649-4ed300709d54" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-14T10:59:47" updateDate="2017-02-14T11:14:50" nodeName="Home" urlName="home" path="-1,1067" isDoc="" nodeType="1056" creatorName="David Weil" writerName="David Weil" writerID="0" template="1066" nodeTypeAlias="HomePage">
    <hideFromSitemap>0</hideFromSitemap>
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageHeader><![CDATA[<p><span class="helveticabold font54">S2P</span> <span class="helveticalight font54"> | Source to Pay</span></p>
<p><span class="helveticabold">S2P enables clients to realize the full procurement savings potential in the P&amp;L</span><span class="helveticalight"> by linking category sourcing strategies to procurement operations. </span></p>
<p><a href="#" class="btn btn-primary btn-lg">Contact Us</a></p>]]></pageHeader>
    <pageBanner><![CDATA[1069]]></pageBanner>
    <pageHeaderTextColor><![CDATA[ffffff]]></pageHeaderTextColor>
    <headerBgColor><![CDATA[03a3df]]></headerBgColor>
    <EmptyRowModule id="1070" key="bbaa524c-c2d3-4137-b01d-8aa627678d92" parentID="1067" level="2" creatorID="0" sortOrder="0" createDate="2017-02-14T11:20:19" updateDate="2017-02-14T13:47:15" nodeName="Row 2" urlName="row-2" path="-1,1067,1070" isDoc="" nodeType="1054" creatorName="David Weil" writerName="David Weil" writerID="0" template="0" nodeTypeAlias="EmptyRowModule">
      <hideFromSitemap>1</hideFromSitemap>
      <className><![CDATA[section graybackground]]></className>
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[<div class="container">
<div class="col-md-12 col-sm-12">
<div class="graysection center-block text-center"><span> A simple, efficient and compliant third party spend is enabled by putting the optimal processes, organization, and digital procurement tools in place.</span></div>
</div>
<div class="arrow_box"></div>
</div>]]></content>
    </EmptyRowModule>
    <EmptyRowModule id="1071" key="5227ea27-a09b-4a74-a214-8fc06998608c" parentID="1067" level="2" creatorID="0" sortOrder="1" createDate="2017-02-14T13:01:38" updateDate="2017-02-14T13:47:43" nodeName="Row 3" urlName="row-3" path="-1,1067,1071" isDoc="" nodeType="1054" creatorName="David Weil" writerName="David Weil" writerID="0" template="0" nodeTypeAlias="EmptyRowModule">
      <hideFromSitemap>1</hideFromSitemap>
      <className><![CDATA[section thirdsection]]></className>
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[<div class="container">
<div class="col-md-4 col-sm-4">
<div class="font36 text-uppercase">
<div class="circle-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
<div class="circle"></div>
<div class="circle-content">
<div class="helveticalight graytext">How we</div>
<div class="helveticabold graytext">deliver</div>
<div class="helveticalight aquatext">impact</div>
</div>
<img class="hrimpact aos-init aos-animate" src="/media/1007/greenhr.gif" alt="" data-id="1077" data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-once="true" /></div>
</div>
</div>
<div class="col10">
<div class="verticalline aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="300" data-aos-once="true"></div>
</div>
<div class="col-md-8 col-sm-8"><img class="hrdesign aos-init aos-animate" src="/media/1006/hrline.png" alt="" rel="1076" data-id="1076" data-aos="fade-up" data-aos-duration="200" data-aos-delay="200" data-aos-once="true" /><br />
<div class="sections aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
<div class="col-md-2 col-sm-2"><img src="/media/1002/design.png" alt="" rel="1072" data-id="1072" /></div>
<div class="col-md-10 col-sm-10">
<h4 class="text-uppercase">Design</h4>
<p>Design clients´ future state based on tailored frameworks, benchmarks and KPIs. Perform analysis on qualitative and quantitative potential, interviews and workshops with key personnel. Develop organization design, future state process design and set of KPIs for performance management.</p>
</div>
</div>
<img class="hrdiag aos-init aos-animate" src="/media/1006/hrline.png" alt="" rel="1076" data-id="1076" data-aos="fade-up" data-aos-delay="500" data-aos-once="true" /><br />
<div class="sections aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="500" data-aos-once="true">
<div class="col-md-2 col-sm-2"><img src="/media/1003/diagnostics.png" alt="" rel="1073" data-id="1073" /></div>
<div class="col-md-10 col-sm-10">
<h4 class="text-uppercase">Diagnostic</h4>
<p>Conduct structured 90-min interviews with leaders within your procurement organization. Provide benchmarks on cycle times, cost per transaction, organization size, and other S2P key metrics. Perform value at stake analysis ("Size the Prize").</p>
</div>
</div>
<img class="hrdigital aos-init aos-animate" src="/media/1006/hrline.png" alt="" rel="1076" data-id="1076" data-aos="fade-up" data-aos-delay="700" data-aos-once="true" /><br />
<div class="sections aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="700" data-aos-once="true">
<div class="col-md-2 col-sm-2"><img style="width: 80px; height: 81px;" src="/media/1004/digital.png?width=80&amp;height=81" alt="" rel="1074" data-id="1074" /></div>
<div class="col-md-10 col-sm-10">
<h4 class="text-uppercase">digital</h4>
<p>Support clients with assessing and understanding procurement technology, tools, and use of big data and advanced analytics in their procurement organizations. Assist clients with sourcing and procure-to-pay (P2P) IT software vendor evaluation and selection, as well as business case development. Deep dive assessment of digital opportunities leveraging McKinsey Digital Procurement Value Diagnostic.</p>
</div>
</div>
<img class="hrtransformation aos-init aos-animate" src="/media/1006/hrline.png" alt="" rel="1076" data-id="1076" data-aos="fade-up" data-aos-delay="300" data-aos-once="true" /><br />
<div class="sections aos-init aos-animate" data-aos="fade-up" data-aos-duration="300" data-aos-delay="300" data-aos-once="true">
<div class="col-md-2 col-sm-2"><img src="/media/1005/transformation.png" alt="" rel="1075" data-id="1075" /></div>
<div class="col-md-10 col-sm-10">
<h4 class="text-uppercase">transformation</h4>
<p>Provide proven transformation approaches and change management tools to orchestrate changes. Support clients to execute and support implementation with a McKinsey on-the-ground team. Design, prototyping and transition phase, as well as roll out.</p>
</div>
</div>
</div>
</div>]]></content>
    </EmptyRowModule>
    <EmptyRowModule id="1078" key="ab8357ec-70a7-47a5-87b1-6877f860bbad" parentID="1067" level="2" creatorID="0" sortOrder="2" createDate="2017-02-14T13:43:11" updateDate="2017-02-14T13:47:52" nodeName="Row 4" urlName="row-4" path="-1,1067,1078" isDoc="" nodeType="1054" creatorName="David Weil" writerName="David Weil" writerID="0" template="0" nodeTypeAlias="EmptyRowModule">
      <hideFromSitemap>1</hideFromSitemap>
      <className><![CDATA[section fourthsection]]></className>
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[<div class="container">
<div class="col-md-12 col-sm-12 aos-init aos-animate" data-aos="fade-left" data-aos-once="true">
<div id="quote-carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner text-center">
<div class="item">
<blockquote>
<div class="row">
<div class="col-sm-8  col-sm-offset-2">
<p>“Amazing how much we improved transparency on contracts and catalogues. This led to significant financial effects through updated pricesand improved quality with preferred suppliers.”</p>
Head of Operational Procurement, Mining Client</div>
</div>
</blockquote>
</div>
<div class="item">
<blockquote>
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
Someone 1</div>
</div>
</blockquote>
</div>
<div class="item active">
<blockquote>
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
Someone 2</div>
</div>
</blockquote>
</div>
</div>
<a href="#quote-carousel" class="left carousel-control" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a> <a href="#quote-carousel" class="right carousel-control" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a></div>
<a href="#" class="btn btn-primary btn-lg center-block">Learn More</a></div>
</div>]]></content>
    </EmptyRowModule>
    <EmptyRowModule id="1079" key="806d9fde-1e8a-401c-af54-23664e876374" parentID="1067" level="2" creatorID="0" sortOrder="3" createDate="2017-02-14T13:45:12" updateDate="2017-02-14T13:48:01" nodeName="Row 5" urlName="row-5" path="-1,1067,1079" isDoc="" nodeType="1054" creatorName="David Weil" writerName="David Weil" writerID="0" template="0" nodeTypeAlias="EmptyRowModule">
      <hideFromSitemap>1</hideFromSitemap>
      <className><![CDATA[section fifthsection]]></className>
      <umbracoNaviHide>1</umbracoNaviHide>
      <content><![CDATA[<div class="container">
<div class="col-md-4 text-center col-sm-4">
<div class="col-md-8">
<div class="font65 helveticabold"><span class="numbers">130</span> +</div>
<p>Procurement partners bringing S2P solutions to clients</p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="col-md-8 col-sm-4">
<div class="font65 helveticabold"><span class="numbers">30</span> +</div>
<p>S2P experts supporting client engagements, developing knowledge, and digitizing tools</p>
</div>
</div>
<div class="col-md-4 text-center">
<div class="col-md-10 col-sm-4">
<div class="font65 helveticabold">COEs +</div>
<p>S2P experts supporting client engagements, developing knowledge, and digitizing tools</p>
</div>
</div>
</div>]]></content>
    </EmptyRowModule>
    <peoplePage id="1088" key="b8c3d2fa-c3ba-438f-902a-655d86a175b2" parentID="1067" level="2" creatorID="0" sortOrder="4" createDate="2017-02-14T14:36:47" updateDate="2017-02-14T15:43:35" nodeName="Our People" urlName="our-people" path="-1,1067,1088" isDoc="" nodeType="1087" creatorName="David Weil" writerName="David Weil" writerID="0" template="1080" nodeTypeAlias="peoplePage">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageHeader><![CDATA[<h1>Our People</h1>]]></pageHeader>
      <pageBanner><![CDATA[1082]]></pageBanner>
      <pageHeaderTextColor><![CDATA[ffffff]]></pageHeaderTextColor>
      <pageLead><![CDATA[<h3>Our experts are experienced in Source-to-Pay across industries worldwide</h3>]]></pageLead>
      <peopleItem id="1089" key="45887d62-2261-43ff-92d8-40081e4a2a47" parentID="1088" level="3" creatorID="0" sortOrder="0" createDate="2017-02-14T16:06:29" updateDate="2017-02-14T16:06:29" nodeName="Mauro Erriquez" urlName="mauro-erriquez" path="-1,1067,1088,1089" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <description><![CDATA[Leader of McKinsey's Source-to-Pay Service Line. He serves clients in Automotive & Assembly, High Tech and Professional Services industries.]]></description>
        <location><![CDATA[Frankfurt]]></location>
        <title><![CDATA[Partner]]></title>
      </peopleItem>
      <peopleItem id="1090" key="08960646-ed95-46dc-92f1-0d3c201beae4" parentID="1088" level="3" creatorID="0" sortOrder="1" createDate="2017-02-14T16:30:37" updateDate="2017-02-14T16:30:37" nodeName="Wolfgang Schnellbächer" urlName="wolfgang-schnellbaecher" path="-1,1067,1088,1090" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <description><![CDATA[Focuses on Source-to-Pay organizational setup and serves clients in the Chemicals & Agriculture, Electric Power/Natural Gas and Automotive & Assembly industries. Wolfgang is a is a certified S2P interviewer.]]></description>
        <location><![CDATA[Stuttgart]]></location>
        <title><![CDATA[Associate Partner]]></title>
      </peopleItem>
      <peopleItem id="1091" key="674f1143-f8b0-46ce-ae01-2978c4a66dd3" parentID="1088" level="3" creatorID="0" sortOrder="2" createDate="2017-02-14T16:31:32" updateDate="2017-02-14T16:31:32" nodeName="Teresa Liptak" urlName="teresa-liptak" path="-1,1067,1088,1091" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <description><![CDATA[Has vast expertise in end-to-end Source-to-Pay and focuses on procurement operations, organization sizing, systems & tools (vendor selection, IT implementation), big data & advanced analytics. Teresa serves clients in the Pharmaceuticals and Medical Products , Chemicals & Agriculture and Insurance industries. Teresa is a certified S2P interviewer.]]></description>
        <location><![CDATA[Chicago]]></location>
        <title><![CDATA[Knowledge Expert]]></title>
      </peopleItem>
      <peopleItem id="1092" key="c1f94ced-3324-4e57-8d97-a62f0912b0c6" parentID="1088" level="3" creatorID="0" sortOrder="3" createDate="2017-02-14T16:32:26" updateDate="2017-02-14T16:32:26" nodeName="Ed Woodcock" urlName="ed-woodcock" path="-1,1067,1088,1092" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <description><![CDATA[Focuses on Source-to-Pay organizational setup and serves clients across industries with a focus on Financial institutions.]]></description>
        <location><![CDATA[Stamford]]></location>
        <title><![CDATA[Senior Expert]]></title>
      </peopleItem>
      <peopleItem id="1093" key="39917c93-1c68-42ea-bf00-0e942055d46a" parentID="1088" level="3" creatorID="0" sortOrder="4" createDate="2017-02-14T16:32:52" updateDate="2017-02-14T16:32:52" nodeName="Antonio De Gregorio" urlName="antonio-de-gregorio" path="-1,1067,1088,1093" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <description><![CDATA[Leader of McKinsey's Source-to-Pay Service Line. He serves clients in Automotive & Assembly, High Tech and Professional Services industries.]]></description>
        <location><![CDATA[Mexico City]]></location>
        <title><![CDATA[Partner]]></title>
      </peopleItem>
      <peopleItem id="1094" key="464515cb-e64d-409f-9d29-f03d98ec41ed" parentID="1088" level="3" creatorID="0" sortOrder="5" createDate="2017-02-14T16:33:34" updateDate="2017-02-14T16:33:34" nodeName="George Joseph" urlName="george-joseph" path="-1,1067,1088,1094" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <description><![CDATA[Focuses on Source-to-Pay in Digital topics and serves clients across industries. He has a long lasting S2P background in McKinsey, other consultancies as well as industrial firms.]]></description>
        <location><![CDATA[New Jersey]]></location>
        <title><![CDATA[Senior Expert]]></title>
      </peopleItem>
      <peopleItem id="1095" key="d8214a3a-2a99-43e4-bb4e-7d7eea6babea" parentID="1088" level="3" creatorID="0" sortOrder="6" createDate="2017-02-14T16:34:18" updateDate="2017-02-14T16:34:18" nodeName="Christoph Kloos" urlName="christoph-kloos" path="-1,1067,1088,1095" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <location><![CDATA[Munich]]></location>
        <title><![CDATA[Junior Specialist Pre-Associate Equivalent]]></title>
      </peopleItem>
      <peopleItem id="1096" key="b3dbc436-2905-495f-8ad0-91178ecc2486" parentID="1088" level="3" creatorID="0" sortOrder="7" createDate="2017-02-14T16:34:40" updateDate="2017-02-14T16:34:40" nodeName="Giulia Gherardi" urlName="giulia-gherardi" path="-1,1067,1088,1096" isDoc="" nodeType="1085" creatorName="David Weil" writerName="David Weil" writerID="0" template="1084" nodeTypeAlias="peopleItem">
        <location><![CDATA[Gothenburg]]></location>
        <title><![CDATA[Junior Specialist Pre-Associate Equivalent]]></title>
      </peopleItem>
    </peoplePage>
  </HomePage>
</root>